{% if site.copyright.size > 0 or site.legal.size > 0 or site.hydejack.advertise %}
<footer role="contentinfo">
  <hr/>
  {% if site.copyright.size > 0 %}
    <p><small class="copyright">{{ site.copyright | markdownify | replace:'<p>','' | replace:'</p>','' }}</small></p>
  {% endif %}
  {% if site.legal.size > 0 %}
    <nav class="legal"><small>
    {% for node in site.legal %}
      {% assign url = node.url | default: node.href %}
      <a class="heading flip-title" href="{% include smart-url.txt url=url %}">{{ node.name | default:node.title }}</a>
      {% unless forloop.last %}{{ site.data.strings.separator | default:'|' }}{% endunless %}
    {% endfor %}
    </small></nav>
  {% endif %}
 <div style="width:300px;margin:0 auto; padding:20px 0;text-align:center">
      <a target="_blank" href="https://zzhblog.cn" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
        <img src="http://psgke2yt3.bkt.clouddn.com/img/filing.png" style="float:left;">
        <p style="float:right;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备 33010902002181号</p >
      </a>
    </div>
  <hr class="sr-only"/>
</footer>
{% endif %}
