.dl-table {
  a {
    padding-bottom: 0.4rem;
  }

  .btn {
    margin: 1.5rem 0;
  }
}
.serch-input{
  float: left;
  position: relative;
  margin-top: 5px;
  span{
    #search-input{
      display: inline-block;
      width: 300px;
      padding: 10px 0 10px 15px;
      border-radius: 3px;
      background-color:#efefef; 
      color: #efefef;
      text-shadow: none;
      outline: none;
      border: none;
      transition: all .3s ease-in-out;  
    }
    #search-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    #efefef;
    }
    #search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #efefef;
    }
    #search-input ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #efefef;
    }
    #search-input :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:    #efefef;
     }

    label{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 15px;
      text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
      background-color:#7AB893;
      border-top-left-radius:3px;
      border-bottom-left-radius: 3px;
      color: #ffffff; 
      transition: all .3s ease-in-out;  
    }
    #search-input:focus{
      border-bottom-left-radius: 0;
      border-bottom-left-radius: 0; 
      
    }
    #search-input:focus{
      color: #377D6A;
      &::-webkit-input-placeholder{
        color: #377D6A;
      }
    }
    #search-input:focus{
      transform: translateX(58px);
    }
  }
  #results-container{
    background-color: #ffffff;
    color: var(--gray-text);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);  
    width: 100%;
    li{
      list-style: none;
      padding: 10px;
      &:hover{
        background: #dddddd;
      }
      a{
        display: block;
      }
    }
  }
}

